.App {
  /* text-align: center; */
  background-color: rgb(95, 116, 72);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.container {
  /* border: 1px solid red; */
  margin: 2rem auto;
}
